<div class="form-group">
  <label for="item">Item </label>
  <input class="form-control"
         id="item"
         #item>
  <input type="button"
         (click)="add(item)"
         class="btn btn-primary"
         value="Add">
</div>

<section>
  <input type="button"
         class="btn btn-success"
         value="Load Data"
         (click)="load()">

  <ul class="list-unstyled">
    <li class="alert alert-info"
        *ngFor="let todo of list$ | async">
      {{todo.description}}
    </li>
  </ul>
</section>
